<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (Mon, Aug 27)</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>8:30 - 9:00am</td> <td>Software set-up help</td></tr>
	<tr><td>9:00 - 9:15am</td> <td>Introduction</td></tr>
      <tr><td>9:15 - 10:30am</td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization in spreadsheets</a></td></tr>
      <tr><td>10:30 - 10:45am</td> <td>Break</td></tr>
      <tr><td>10:45am - 12:00pm</td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for data cleaning</a></td></tr>
	    <tr><td>12:00 - 1:00pm</td><td>Lunch</td></tr>
	<tr><td>1:00 - 2:30pm</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data management with SQL</a></td></tr>
	<tr><td>2:30 - 2:45pm</td><td>Break</td></tr>
	<tr><td>2:45 - 4:30pm</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data management with SQL</a></td></tr>

	    <tr> <td>4:30 - 4:45pm</td> <td>Wrap-Up</td> </tr>
	    <tr> <td>4:45pm</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 (Tues, Aug 28)</h3>
    <table class="table table-striped">
      <tr> <td>8:30 - 9:00am</td> <td>Software set-up help</td></tr>
     <tr> <td>9:00 - 10:30am</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
     <tr> <td>10:30 - 10:45pm</td> <td>Break</td></tr>
     <tr> <td>10:45am - 12:00pm</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td></tr>
     <tr> <td>12:00 - 1:00pm</td> <td>Lunch</td></tr>
	<tr> <td>1:00 - 2:30pm</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Continuation of R: data analysis & visualization</a></td></tr>
      <tr> <td>2:30 - 2:45pm</td> <td>Break</td></tr>
      <tr> <td>2:45 - 4:30pm</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/">Continuation of R: data analysis & visualization</a></td></tr>
      <tr>
	<td>4:30 - 4:45pm</td>
	<td>Wrap-up and <a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td>4:45 - 5:45pm</td>
	<td>Social Get-Together (optional)</td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
